@import "../../styles/base.scss";

.container {
    @include directionY;
    margin-top: 3rem;

    .header{
        @include font(26px, $font-weight-medium, $text-color-black);
        text-align: center;
        
        @include apply-at-md-size{
            @include font(30px, $font-weight-medium, $text-color-black);
        }
    }

    .button_wrapper{
        @include directionX;
        justify-content: end;
        margin-top: 2rem;

        .button {
            text-transform: capitalize;
            @include font(14px, $font-weight-regular, $text-color-white);
        }
    }
}