@import '../../../../styles/base.scss';

.modal_container_outer {
  @include directionX;
  justify-content: center;
  align-items: center;

  .modal_container {
    position: absolute;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    width: 70%;

    @include apply-at-lg-size {
      width: 60%;
    }

    @include apply-at-xxl-size {
      width: 50%;
    }

    .header {
      @include font(20px, $font-weight-medium, var(--color-bg));
      text-align: center;
      margin-bottom: 1rem;

      @include apply-at-md-size {
        @include font(26px, $font-weight-medium, var(--color-bg));
      }
    }

    .input_container {
      width: 100%;

      .input_wrapper {
        @include directionY;
        margin-top: 1rem;

        .input_label {
          @include font(14px, $font-weight-light, var(--color-bg));
          margin-bottom: 0.5rem;

          @include apply-at-md-size {
            @include font(18px, $font-weight-light, var(--color-bg));
          }
        }

        // TODO: Fix Error Label Color
        .input_label_error {
          @include font(12px, $font-weight-light, var(--color-bg));
          color: $text-color-red !important;
          margin-bottom: 0.2rem;

          @include apply-at-md-size {
            @include font(16px, $font-weight-light, var(--color-bg));
          }
        }

        .image {
          margin-bottom: 1rem;
          width: 250px;
          height: auto;
        }
      }

      .button_wrapper {
        @include directionX;
        justify-content: end;
        margin-top: 1rem;

        button {
          margin-left: 0.5rem;
          text-transform: capitalize;
        }
      }
    }
  }
}
